<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> </head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <h1>{{title}}</h1>
                <li *ngFor="let user of users" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
                    <span class="badge">{{user.id}}</span> {{user.name}}
                </li>
            </div>
            <div class="col-xs-9">
                <h2>My Heroes</h2>
                <ul class="heroes">
                    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)"> <span class="badge">{{hero.id}}</span> {{hero.name}} </li>
                </ul>
                <div *ngIf="selectedHero">
                    <h2>{{selectedHero.name}} details!</h2>
                    <div>
                        <label>id: </label>{{selectedHero.id}}</div>
                    <div>
                        <label>name: </label>
                        <input [(ngModel)]="selectedHero.name" placeholder="name" /> </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/1.0.24/ng2-bootstrap.min.js"></script>
</body>

</html>
